<br><br><br><br><br><br>
<div style="margin: auto; width: 600px">
    <video style="margin-left: auto;" controls>
        <source src="../../assets/re.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div style="background-color: white; padding: 20px; border-radius: 5px; color: black;">
        More about Website:
        This website develop with angular and firebase
        <ul>
            <li>Chat application <a style="color: black; background-color: rgb(223, 146, 5); border-radius: 5px; padding: 5px; color: white;" routerLink="">Home Page</a> then Press contact me</li>
            <li> Login via google and facebook sign in</li>
            <li>Resume creator</li>
            <li>Take the data from firebase using nodejs with firebase api</li>
        </ul>
    </div>
</div>