<app-hero></app-hero>
<div class="card mb" style="max-width: 540px; margin: auto;">
  <div class="row g-0">
    <div class="col-md">
      <img src="../../../assets/pr.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Pradeep Kumar</h5>
        <p class="card-text"><a style="text-decoration: none;" href="mailto:pradeepskr723@gmail.com"> Email:
            pradeepskr723@gmail.com</a></p>
        <p class="card-text"><a href="tel:8239222334">8239222334</a>,<a href="tel:7232052646">7232052646</a></p>
        <p>Profile: Software Development, Data Analytics, Web Development</p>
      </div>
    </div>
  </div>
</div>