<app-hero></app-hero>
<h3 class="heading">Skills and Expertise</h3>
<div class="row m-1">
    <div class="col-sm-6">
        <div class="card bg-light">
            <div class="card-body bg-light bg-light">
                <h4>LANGUAGES</h4>
                <div class="row">
                    <div class="col-4">
                        <p>C++</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">

                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%;" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100">70%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>C</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%;" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100">70%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Python</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 75%;" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100">75%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Angular</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 85%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">85%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>PHP</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 75%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">75%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Javascript</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Ajax</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">60%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>HTML</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">100%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>CSS</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">100%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body bg-light">
                <h4>SOFTWARES</h4>
                <div class="row">
                    <div class="col-4">
                        <p>Adobe Photoshop</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">

                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100">100%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Adobe Premiere Pro</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%;" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Autocad</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%;" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100">70%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Git</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">60%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Microsoft Word</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 90%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">90%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Excel</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 90%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">90%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Powerpoint</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 90%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">90%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Microsoft Office</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 90%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">90%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mt-5">
        <div class="card">
            <div class="card-body bg-light">
                <h4>Database</h4>
                <div class="row">
                    <div class="col-4">
                        <p>Mysql</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">

                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%;" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Sqlite</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 90%;" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100">90%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Postgres</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%;" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Firebase</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">70%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body bg-light">
                <h4>LIBRARIES</h4>
                <div class="row">
                    <div class="col-4">
                        <p>Pandas</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">

                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%;" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Numpy</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%;" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Matplotlib</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%;" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100">70%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Scikit-Learn</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">60%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Scipy</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">60%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Django</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 90%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"> 90%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body bg-light">
                <h4>DEVELOPMENT TOOLS</h4>
                <div class="row">
                    <div class="col-4">
                        <p>Dreamweaver</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">

                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%;" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Qt Creater</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100">60%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Xampp</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 90%;" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100">90%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Pycharm</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Visual Studio Code</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">70%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mt-5">
        <div class="card">
            <div class="card-body bg-light">
                <h4>OPERATING SYSTEM</h4>
                <div class="row">
                    <div class="col-4">
                        <p>Window</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">

                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100">100%</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p>Linux</p>
                    </div>
                    <div class="progress col-8" style="float: right;margin-top: 5px;padding: 0px !important;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 90%;" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100">90%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h3 class="heading">Internships</h3>
<div class="row m-1">
    <div class="col-sm-6 mt-5">
        <div class="card">
            <div class="card-body bg-light">
                <h4>Full Stack Development, Internship</h4><br>
                <div class="row">
                    <div class="col">
                        <p>Starting Date : JAN 2021</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <p>Ending Date : MARCH 2021</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <p>Company : Bemrr</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <p>Work From Home</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mt-5">
        <div class="card">
            <div class="card-body bg-light">
                <h4>Graphic Design, Internship</h4><br>
                <div class="row">
                    <div class="col">
                        <p>Starting Date : JULY 2020</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <p>Ending Date : DECEMBER 2020</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <p>Company : Aashman Foundation</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <p>Work From Home</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h3 class="heading">ACHIEVEMENT</h3>
<div class="row m-1">
    <div class="col-sm mt-5">
        <div class="card">
            <div class="card-body bg-light">
                <h4>AIR 759 in 14Lacks</h4><br>
                <div class="row">
                    <div class="col">
                        <p>Maths : 105/120</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <p>Chemistry : 95/120</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <p>Physics : 71/120</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h3 class="heading">Position of Responsibility</h3>
<div class="row m-1">
    <div class="col-sm-6 mt-5">
        <div class="card">
            <div class="card-body bg-light">
                <h4>Secretary, Athletics at Azad Hall of Residence, IIT Kharagpur</h4><br>
                <div class="row">
                    <div class="col">
                        <p>Starting Date: JUN 2019</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <p>Ending Date: MAY 2020</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mt-5">
        <div class="card">
            <div class="card-body bg-light">
                <h4>Sponsorship and Design Sub Head at Rajasthan Cultural Association, IIT Kharagpur</h4><br>
                <div class="row">
                    <div class="col">
                        <p>Starting Date: JULY 2019</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <p>Ending Date: MAY 2020</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mt-5">
        <div class="card">
            <div class="card-body bg-light">
                <h4>Web and Design Head at Rajasthan Cultural Association, IIT Kharagpur</h4><br>
                <div class="row">
                    <div class="col">
                        <p>Starting Date: JULY 2020</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <p>Ending Date: Currently Working</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mt-5">
        <div class="card">
            <div class="card-body bg-light">
                <h4>Sports</h4><br>
                <div class="row">
                    <div class="col">
                        <p>2 Silver Medal</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <p>1 Bronze Medal</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>