<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img [src]="img" alt="Los Angeles" style="width:100%;">
        <div class="carousel-caption col-3" style="left: 5% !important;color: #000;">
            <h3>Hello,</h3>
            <p>Greetings with you!</p>
            <!--button type="button" class="btn btn-secondary">Ok</button-->
          </div>
      </div>
    </div>
  </div>