<!-- Hero Start -->
<i class="bi bi-align-center">
    <div class="hero" id="home"
        style="background: linear-gradient(rgba(56, 185, 125, 0.95), rgba(117, 11, 24, 0.95)), url(../../assets/img/hero-bg.jpg);">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-6">
                    <div class="hero-content">
                        <div class="hero-text">
                            <p>I'm</p>
                            <h1>Pradeep Kumar</h1>
                            <h2></h2>
                            <div class="typed-text" style="color: white;">Web Designer, Web Developer, Front End
                                Developer, Apps Designer,
                                Apps Developer</div>
                        </div>
                        <div class="hero-btn">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" data-bs-whatever="@mdo" (click)="showchat()">Contact
                                Me</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 d-none d-md-block">
                    <div class="hero-image">
                        <img src="../../assets/img/hero.png" alt="Hero Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <!-- Service Start -->
    <div class="service" id="service">
        <div class="container">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <p style="border-radius: 10px; padding: 10px;">Experience</p>
            </div>
            <div class="row">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.0s">
                    <div class="service-item">
                        <div class="service-icon">
                            <img src="../../assets/img/soft.png">
                        </div>
                        <div class="service-text">
                            <h3>Software Development</h3>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-item">
                        <div class="service-icon">
                            <img src="../../assets/img/web.jpg" width="100px">
                        </div>
                        <div class="service-text">
                            <h3>Web Development</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-item">
                        <div class="service-icon">
                            <img src="../../assets/img/pr.png" width="100px">
                        </div>
                        <div class="service-text">
                            <h3>Machine Learning</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="service-item">
                        <div class="service-icon">
                            <img src="../../assets/img/vid.png" width="100px">
                        </div>
                        <div class="service-text">
                            <h3>Video Editing</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="service-item">
                        <div class="service-icon">
                            <img src="../../assets/img/gr.png" width="100px">
                        </div>
                        <div class="service-text">
                            <h3>Graphic Design</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Experience Start -->
    <div class="experience" id="experience">
        <div class="container">
            <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <h2>Working Experience</h2>
            </header>
            <div class="timeline">
                <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">2021</div>
                        <h2>Software Development Intern</h2>
                        <h4>Neoastra, Bangaluru, India</h4>
                        <ul style="font-size: small; font-style: normal;">
                            <li>Processed <b>100+</b> images using OpenCV (CPP) in 2D array with 3 pixels range (BGR)
                                and 1 pixels range (Gray)</li>
                            <li>Detected face using <b>OpenCV (Haar Cascade, DNN)</b> and <b>(HoG and CNN)</b> in static
                                image, video stream and live stream</li>
                            <li>Recognised face from <b>500+</b> Images datasets (VGGFace2) using RMSE value of distance
                                in <b>128 face points length</b> of images</li>
                            <li>Classified opened & closed eyes and Front & Tilted (right, left) Faces using area of
                                <b>shape predictor 68 face landmarks</b> in dlib
                            </li>
                            <li> Calculated blurred percentage on face & image using variance of laplacian model &
                                cropped face by haar cascade in OpenCV</li>
                        </ul>
                        <a  routerLink="video" style="padding: 7px 10px; border-radius: 10px; color: white; background-color: orange;">Video Presentation</a>
                    </div>
                </div>
                <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">2021</div>
                        <h2>Full Stack Development</h2>
                        <h4>Bemrr, Ahemdabad, India</h4>
                        <ul style="font-size: small; font-style: normal;">
                            <li>Created audio player for playing podcasts in <b>Angular (Typescript)</b> with controls
                                Play, Pause, Next, Previous and Time slider</li>
                            <li>Added input fields for comment & like button for reaction onTracks with Authenticate
                                user by <b>Google & Facebook</b> login api</li>
                            <li>Designed UI of Player, list of Podcasts, list of comments & no. of likes by HTML, CSS,
                                <b>Typescript</b> & used <b>Firebase </b> as backend
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">2020</div>
                        <h2>Directory Access of Window Computer | Qt Creator in C++</h2>
                        <h4>With text editor, Self</h4>
                        <ul>
                            <li>Created a responsive UI with xml and connected components with cpp in the backend using
                                gui and core application</li>
                            <li>Added an individual folder with visited history, Digital clock and folder creator with
                                pop up confirmation</li>
                            <li>Built a text editor and which can create file and can edit existing text file</li>
                        </ul>
                        <a style="background-color: orange; padding: 10px; border-radius: 5px; color: white;"
                            href="https://github.com/pradeepkumar00/Access-Complete-Directory-of-Window-WIth-Text-Editor"
                            target="_blanck">Get
                            Code</a>
                    </div>
                </div>
                <div class="timeline-item right wow slideInLeft" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">2020</div>
                        <h2>Real Time Chat Application </h2><h4>Backend Development in PHP, JQUERY and AJAX </h4>
                        <h4>Self</h4>
                        <ul>
                            <li>Developed chat applications with a list of users and chat area with input fields for text sharing along with image sharing</li>
                            <li>Produced a user self registration & authentication process by two arguments and use see anyone offline/online status with number of unseen message</li>
                        </ul>
                        <a style="background-color: orange; padding: 10px; border-radius: 5px; color: white;"
                            href="https://github.com/pradeepkumar00/Chat-application-using-jquery-and-php-with-image-sharing"
                            target="_blanck">Get
                            Code</a>
                    </div>
                </div>
                <div class="timeline-item left wow slideInRight" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">2020</div>
                        <h2>Graphic Design, Intern</h2>
                        <h4>Ahmedabad</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="experience" id="experience">
        <div class="container">
            <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <h2>Position of Responsibility</h2>
            </header>
            <div class="timeline">
                <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">2019-2020</div>
                        <h2>Secretary</h2>
                        <h4>Athletics at Azad Hall of Residence, IIT Kharagpur
                        </h4>
                    </div>
                </div>
                <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">2020-2021</div>
                        <h2>Web and Design Head</h2>
                        <h4>Rajasthan Cultural Association, IIT Kharagpur</h4>
                    </div>
                </div>
                <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">2019-2020</div>
                        <h2>Sponsorship and Design Sub Head</h2>
                        <h4>Rajasthan Cultural Association, IIT Kharagpur</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="experience" id="experience">
        <div class="container">
            <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <h2>Certificates</h2>
            </header>
            <div class="timeline">
                <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">2021</div>
                        <h2>C++ Problem Solving</h2>
                        <h4>Hackerrank
                        </h4>
                        <a href="https://www.hackerrank.com/certificates/11f87930c3b9" target="blank">See credential</a>
                    </div>
                </div>
                <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">2021</div>
                        <h2>MVF Typescript (Angular)</h2>
                        <h4>Hackerrank</h4>
                        <a href="https://www.hackerrank.com/certificates/761f214c081f" target="blank">See credential</a>
                    </div>
                </div>
                <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">2021</div>
                        <h2>Python Basic</h2>
                        <h4>Hackerrank</h4>
                        <a href="https://www.hackerrank.com/certificates/b09df9278f74" target="blank">See credential</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="experience" id="experience">
        <div class="container">
            <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <h2>ACHIEVEMENT</h2>
            </header>
            <div class="timeline">
                <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">2018</div>
                        <h2>JEE</h2>
                        <h4>AIR 759 (84-OBC) in 14 Lacks</h4>
                    </div>
                </div>
                <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">2019</div>
                        <h2>Athletics</h2>
                        <ul>
                            <li>2 Silver</li>
                            <li>1 Bronze</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Job Experience End -->



    <!-- Price Start -->
    <div class="price" id="price">
        <div class="container">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <p style="border-radius: 10px; padding: 10px">Tools & Technologies</p>
            </div>
            <div class="row">
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="price-item" style="border-radius: 5px;">
                        <ul>
                            <br>
                            <li>C++, C, Python</li><br>
                            <li>JavaScript, Php, Ajax, HTML, CSS, Bootstrap</li><br>
                            <li>Angular, Typescript</li><br>
                            <li>Git, Github, Gitlab</li><br>
                            <li>Adobe Photoshop, Adobe Premiere Pro</li><br>
                            <li> Adobe Dreamweaver, Autocad, Pycharm, Visual Studio Code</li><br>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                    <div class="price-item" style="border-radius: 5px;">
                        <ul><br>
                            <li>Windows, Linux</li><br>
                            <li>Opencv, Dlib, QT Creater, Xampp</li><br>
                            <li>NumPy, Scikit-Learn, Matplotlib, NumPy, Scipy</li><br>
                            <li>Artificial Intelligence (AI), Machine Learning, Computer Vision</li><br>
                            <li>MySQL, Firebase, SQLite, PostgreSQL</li><br>
                            <li>Microsoft Word, Excel, Powerpoint, Microsoft Office</li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Price End -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" *ngIf="!islogin">
                    <button type="button" (click)="signInHandle()" class="btn btn-secondary">Login With Google</button>
                    <button type="button" (click)="signInWithFB()" class="btn btn-primary">Login With Facebook</button>
                </div>
                <div class="modal-header dropdown" *ngIf="islogin" style="padding: 0px !important; float: right;">
                    <button type="button" class="btn-close m-2" data-bs-dismiss="modal" aria-label="Close"></button>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                        style="padding: 2px !important;" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img [src]='userDetails?.photoUrl' class="card-img-top"
                            style="width: 35px; border-radius: 30px;"> Welcome -
                        {{userDetails.name}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button (click)="signout()" style="cursor: pointer;" class="btn btn-primary"> Sign Out</button>
                    </div>
                </div>

                <div class="modal-header sss d-flex" *ngIf="islogin" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                    <!--div *ngFor="let list of empList; let i = index" style="width: 100%;" class="p-2">
                        <div style="float: right; min-width: 80%; max-width: 95%;">
                            <div *ngIf="list.id!=1"
                                style="border-radius: 5px; background-color: blue; padding: 5px; color: white; float: right; min-width: 80% !important; max-width: 95%;">
                                {{list.msg}}
                            </div>
                        </div>
                    </div-->
                    <ul class="nav flex-column" style="width: 100%;">
                        <li class="nav-item" *ngFor="let list of empList; let i = index" style="width: 100%;">
                            <a class="nav-link" style="text-align: right;" *ngIf="list.var==1">
                                <p
                                    style="background-color: blue; width: 70%; float: right; padding: 5px; border-radius: 5px; color: white;">
                                    {{list.msg}}</p>
                            </a>
                            <a class="nav-link" style="text-align: left;" *ngIf="list.var==0">
                                <p
                                    style="background-color: #7393B3; width: 70%; float: left; padding: 5px; border-radius: 5px; color: white;">
                                    {{list.msg}}</p>
                            </a>
                            <a *ngIf="i==empList.length-1">{{load()}}</a>

                        </li>
                    </ul>
                </div>
                <div *ngIf="!isload">
                    <div class="modal-header" *ngIf="islogin">
                        <textarea style="width: 100%;   resize: none;" [(ngModel)]="msg"></textarea>
                        <button style="cursor: pointer;" class="btn btn-primary m-2" (click)="submit()">Send</button>
                    </div>
                </div>
                <div *ngIf="islogin">
                    <div class="text-center" *ngIf="isload">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" *ngIf="!islogin">
                    Login for save the text
                </div>
            </div>
        </div>
    </div>